{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./assets/js"],
      "alias": {
        "Events": "components/Events",
        "Items": "components/Items",
        "pages": "pages"
      }
    }]
  ]
}

